{% extends 'template/main.twig' %}

{% block body %}

  <section class="first-screen">
    <div class="first-screen__wrapper">
      {% include '../blocks/header/header.twig' %}

      <div class="first-screen__promo"
           data-aos="fade-down"
           data-aos-duration="600"
           data-aos-delay="500">
        <div class="first-screen__promo-descript">
          <p class="first-screen__small-head">Приветствую! Меня зовут Николай Иванов, я</p>
          <span class="first-screen__big-head">Frontend-разработчик</span>
          <h1 class="first-screen__title">
            <span>Делаю верстку, анимации, формы, калькуляторы</span>
          </h1>
          <a href="#">Нанять на проект</a>
        </div>

      </div>

      <div class="first-screen__bottom">
        <div class="first-screen__tags-wrapper">
          <h3 class="first-screen__subtitle"
              data-aos="fade-right"
              data-aos-duration="400"
              data-aos-delay="600">Этими инструментами <br> я пользуюсь</h3>
          <div class="first-screen__tags js-tagcloud"
               data-aos="zoom-in-up"
               data-aos-delay="700"
               data-aos-duration="2000"></div>
        </div>
        <div class="first-screen__clients">
          <h3 class="first-screen__subtitle"
              data-aos="fade-left"
              data-aos-duration="400"
              data-aos-delay="600">К этим сайтам <br> я приложил руку</h3>
          <ul class="first-screen__clients-list js-parallax"
              data-aos="zoom-in-up"
              data-aos-delay="700"
              data-aos-duration="2000">
            <li class="first-screen__client"
                data-depth="0.2">
              <a href="http://benetton.com" target="_blank"><img src="assets/img/clients/benetton.svg" alt=""></a>
            </li>
            <li class="first-screen__client"
                data-depth="0.6">
              <a href="http://incanto.eu" target="_blank"><img src="assets/img/clients/incanto.jpg" alt=""></a>
            </li>
            <li class="first-screen__client"
                data-depth="0.5">
              <a href="http://crocs.ru" target="_blank"><img src="assets/img/clients/crocs.svg" alt=""></a>
            </li>
            <li class="first-screen__client"
                data-depth="0.3">
              <a href="http://ozzi.az" target="_blank"><img src="assets/img/clients/ozzi.png" alt=""></a>
            </li>
            <li class="first-screen__client"
                data-depth="0.4">
              <a href="http://vans.ru" target="_blank"><img src="assets/img/clients/vans.svg" alt=""></a>
            </li>
          </ul>
          {# здесь будут логотипы сайтов к которым я приложил руку - планируется сделать параллакс #}
        </div>
      </div>


    </div>
  </section>

{% endblock %}

