{% extends 'template/main.twig' %}

{% block body %}

  <section class="first-screen">
    <div class="first-screen__wrapper">
      {% include '../blocks/header/header.twig' %}


      <div class="first-screen__tags js-tagcloud"></div>
    </div>
  </section>

{% endblock %}

